---
layout: default
header_image: ""
title: "Portfolio"
description: "Au cours de mon parcours professionel j'ai eu l'opportunité de réaliser toutes sortes de travaux allant de la communcation print au développement applicatif."
---

{% include page_header.html %}
<!-- Portfolio  Start -->
<section class="section portfolio-2">
	<div class="container">
		<div class="row">
			<div class="service-2 col-lg-12  mb-3">
				<h2>
					Mes réalisations
        </h2>
				<!-- <h3 class="mb-5 mt-2">A collection of some recently completed projects, covering a wide range of design disciplines</h3> -->
			</div>
		</div>

    <div class="row align-items-center mb-5">
      	<div class="col-12">
	        <div class="btn-group btn-group-toggle " data-toggle="buttons">
	          <label class="btn border-0 active">
	            <input type="radio" name="shuffle-filter" value="all" checked="checked" />Projets
	          </label>
	          <label class="btn border-0">
	            <input type="radio" name="shuffle-filter" value="design" />Design UI/UX
	          </label>
	          <label class="btn border-0">
	            <input type="radio" name="shuffle-filter" value="branding" />Communication
	          </label>
	          <label class="btn border-0">
	            <input type="radio" name="shuffle-filter" value="illustration" />Développement Web
	          </label>
	           <!-- <label class="btn border-0">
	            <input type="radio" name="shuffle-filter" value="photo" />Photography
	          </label> -->
	        </div>
      </div>
    </div>
    <div class="row shuffle-wrapper portfolio-gallery">
      {% include portfolio_loop.html %}
    </div>
	</div>
</section>
<!-- Portfolio  End -->
