// typing animation


.code-title {
  width: 17ch;
  animation: typing 2s steps(16), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: 'Source Code Pro', monospace;
  font-size: 36px;
  font-weight: 500;
  color: $white;
  letter-spacing: 1px;
  margin-bottom: 20px;
  @include mobile-xs {
    font-size: 26px;
  }
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.code-title-sm {
  width: 20.5ch;
  animation: none;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: 'Source Code Pro', monospace;
  font-size: 26px;
  font-weight: 500;
  color: $black;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.code-title-sm.active {
  animation: typing 1.5s steps(19), blink .5s step-end infinite alternate;
}

.code-title-sm {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.code-title-sm.active {
  opacity: 1;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

// apparition text

.animated-title {
  color: $white;
  font-family: Josefin Sans, sans-serif;
  font-weight: 400;
  width: 60vh;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: relative;
  width: 550px;
  max-width: 90vw;
  @include tablet {
    width: 80vw;
  }

  @include desktop-xlg {
    width: 750px;
  }

  @include mobile {
    width: 80vw;
  }

  @include mobile-xs {
    width: 80vw !important;
  }



}
.animated-title > div div {
  font-size: 50px;
  line-height: 130%;
  padding: 2vmin 0;
  position: relative;

  @include tablet {
    font-size: 30px;
    line-height: 130%;
    padding: 2vmin 0;
  }

  @include desktop {
    font-size: 40px;
    line-height: 130%;
    padding: 2vmin 0;
  }

  @include desktop-xlg {
    font-size: 64px;
    line-height: 130%;
    padding: 2vmin 0;
  }

  @include mobile-xs {
    font-size: 26px;
    line-height: 130%;
    padding: 1vmin 0;
  }
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1px solid #ffffff;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #767676;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 3.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

// icones réseaux

.socials-links{
	li a {
		width: 50px;
		height: 50px;
		border-radius: 100%;
		text-align: center;
		display: inline-block;
		color: $white;
    margin-right: 20px;
    font-size: 36px;
    padding: 0vmin 5vmin 0vmin 2vmin;
    @include desktop {
      font-size: 30px;
      line-height: 130%;
      padding: 0vmin 5vmin  0vmin 2vmin;
      margin: 0px;
    }

    @include tablet {
      font-size: 30px;
      line-height: 130%;
      padding: 0vmin 8vmin  0vmin 2vmin;
      margin: 0px;
    }

    @include desktop-xlg {
      font-size: 46px;
      line-height: 130%;
      padding: 0vmin 5vmin  0vmin 2vmin;
    }

    @include mobile {
      font-size: 30px;
      line-height: 130%;
      padding: 0vmin 9vmin  0vmin 2vmin;
      margin: 0px;
    }

    @include mobile-xs {
      font-size: 20px;
      line-height: 130%;
      padding: 0vmin 5vmin  0vmin 2vmin;
      margin: -4px;
    }


	}
  .fa-github:hover {
    animation: bounce 1s ease-in-out infinite alternate;
    color: $primary-color;

    @keyframes bounce {
      0%   { transform: scale(1,1)    translateY(0); }
      10%  { transform: scale(1.1,.9) translateY(0); }
      30%  { transform: scale(.9,1.1) translateY(-20px); }
      50%  { transform: scale(1,1)    translateY(0); }
      100% { transform: scale(1,1)    translateY(0); }
    }

  }

  .fa-behance {
    transform: perspective(1px) translateZ(0);
  }

  .fa-behance:hover {
    animation: float 1s ease-out infinite;
    animation-fill-mode: forwards;
    transform: translateZ(0);
    color: $primary-color;

    @keyframes float {
      0% { opacity: 1; transform: scale(1);}
      50% { opacity: 0.4;  transform: translateY(-2px) translateX(2px); text-shadow: -2px 2px 0px $white;}
      100% { opacity: 1; transform: scale(1);}
    }

  }

  .fa-instagram:hover {
    animation: icon3d 250ms ease infinite alternate;
    color: $white;

    @keyframes icon3d {
      0% { text-shadow: 5px 4px $primary-color, -5px -6px $secondary-color; }
      25% { text-shadow: -5px -6px $primary-color, 5px 4px $secondary-color; }
      50% { text-shadow: 5px -4px $primary-color, -8px 4px $secondary-color; }
      75% {text-shadow: -8px -4px $primary-color, -5px -4px $secondary-color; }
      100% { text-shadow: -5px 0 $primary-color, 5px -4px $secondary-color; }
    }

  }

  .fa-linkedin-in:hover {
    animation: beat-fade 1.6s ease infinite alternate;
    color: $primary-color;

    @keyframes beat-fade {
      0% { transform: scale(1);   opacity: 0.5; }
      50% { transform: scale(1.25); opacity: 1; }
      100% { transform: scale(1); opacity: 0.5; }
    }

  }

  .fa-phone:hover {
    animation: shake 0.8s ease infinite alternate;
    color: $primary-color;

    @keyframes shake {
      0% { transform: translateX(0) }
      25% { transform: translateY(-9px) }
      35% { transform: translateY(-9px) rotate(17deg) }
      55% { transform: translateY(-9px) rotate(-17deg) }
      65% { transform: translateY(-9px) rotate(17deg) }
      75% { transform: translateY(-9px) rotate(-17deg) }
      100% { transform: translateY(0) rotate(0) }
    }

  }

  .fa-envelope:hover {
    animation: rotate 2s ease infinite alternate;
    color: $primary-color;

    @keyframes rotate {
      0% { transform: rotate(0deg) }
      25% { transform: translateY(-9px) rotate(-10deg) }
      50% { transform: translateY(-9px) rotate(-15deg) }
      75% { transform: translateY(-9px) rotate(-10deg) }
      100% { transform: translateY(-0px) rotate(0deg) }
      // 65% { transform: translateY(-2px) rotate(-5deg) }
      // 75% { transform: translateY(-9px) rotate(-10deg) }
      // 85% { transform: translateY(-2px) rotate(-5deg) }
      // 100% { transform: rotate(0) }
    }

  }

  .mailme:hover .fa-envelope:before{
    content:"\f2b6";
    color: $primary-color;
  }
}

// icon menu hamburger

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}



.socials-links-footer {
  font-size: 30px;
  line-height: 0px;
  margin: 0;
  li a {
    padding: 0vmin 0vmin 0vmin 1vmin;

    i:hover {
      color: $primary-color;
    }

    @include tablet {
      font-size: 30px;
      padding: 0vmin 0vmin  0vmin 1vmin;
      margin: 0px;
    }

    @include mobile-xs {
      font-size: 20px;
      padding: 0vmin 0vmin  0vmin 1vmin;
      margin: 0px;
    }

    @include desktop-xlg {
      font-size: 32px;
      line-height: 130%;
      padding: 0vmin 0vmin 0vmin 1vmin;
    }
  }


}

// experiences et enseignements

.experiences {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.experiences.active {
  opacity: 1;
}

.educations {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.educations.active {
  opacity: 1;
}

// titre
.experiences.active {
  h2{
    position: relative;
    animation: leftapp 1s linear;
    animation-delay: -0.85s;
  }
 }

@keyframes leftapp {
  0% {
    opacity: 0;
    left:-1000px;
  }
  50% {
    opacity: 0.2;
    left: -500px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

// contenu
.experiences > div {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.experiences > div.exp-column {
  bottom: 0;
}
.experiences.active > div.exp-column div {
  animation: showBottomTextExp 0.5s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -400%);
}

@keyframes showBottomTextExp {
  0% { transform: translate3d(0, -400%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

// titre
.educations.active {
  h2{
    position: relative;
    animation: rightapp 1s linear;
    animation-delay: -0.85s;
  }
 }

@keyframes rightapp {
  0% {
    opacity: 0;
    right:-1000px;
  }
  50% {
    opacity: 0.2;
    right: -500px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

// contenu
.educations > div {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.educations > div.educ-column {
  bottom: 0;
}
.educations.active > div.educ-column div {
  animation: showBottomTextEdu 0.5s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -400%);
}

@keyframes showBottomTextEdu {
  0% { transform: translate3d(0, -400%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

// .experiences.active {}

// .educations.active {}


// // Icone de scrolling (à voir si on garde)

// .icon-scroll,
// .icon-scroll:before {
//   position: absolute;
//   left: 50%;
// }
// .icon-scroll {
//   width: 40px;
//   height: 70px;
//   // margin-left: -20px;
//   // top: 50%;
//   // margin-top: -35px;
//   box-shadow: inset 0 0 0 1px #fff;
//   border-radius: 25px;
// }
// .icon-scroll:before {
//   content: '';
//   width: 8px;
//   height: 8px;
//   background: #fff;
//   margin-left: -4px;
//   top: 8px;
//   border-radius: 4px;
//   animation-duration: 1.5s;
//   animation-iteration-count: infinite;
//   animation-name: scroll;
// }
// @-moz-keyframes scroll {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//     transform: translateY(46px);
//   }
// }
// @-webkit-keyframes scroll {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//     transform: translateY(46px);
//   }
// }
// @-o-keyframes scroll {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//     transform: translateY(46px);
//   }
// }
// @keyframes scroll {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//     transform: translateY(46px);
//   }
// }
.intro-text {
  h3 {
    @include mobile {
      font-size: 36px;
    }
  }
}


.intro-text {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.intro-text.active{
  animation-duration: 0.75s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  top: 0;
  opacity: 1;
}

@keyframes animate-fade {
  0% { transform: translate3d(-400%, 0, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.animtop  {
  opacity: 0;
  transition: opacity 1s ease;
}

.animtop.active {
  animation-duration: 0.75s;
  animation-name: animate-top;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  top: 0;
  opacity: 1;
}

@keyframes animate-top {
  0% { transform: translate3d(0, 100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.animfade {
  opacity: 0;
  transition: 1.5s ease;
}

.animfade.active {
  opacity: 1;
}
