.home-contact{
	// background: url("../images/bg/logo-grey-bg.jpg")no-repeat;
	// background-size: contain;
  // background-position: right;
  // background-color: $extra-color;
  padding-top: 60px;

	.form-control {
	    // background-color: $extra-color;
	    border-radius: 2px;
	    border: 0px;
	    border: 1px solid $black-light;
	    padding: 10px;
	    box-shadow: 0px;
	    color: $black!important;
	    font-size: 18px;
	}

  .form-control:focus {
    border: 1px solid $primary-color;
  }

  ::placeholder {
    color: $black-light;
    font-weight: 300;
  }

	.form-control:focus{
		box-shadow: none;
	}

  .empty-field {
    border: 2px solid $secondary-color;
}
}

.page-contact{
	// background: url("../images/bg/bg-portfolio.jpg")center center no-repeat;
	// background-size: cover;
  // background-color: $extra-color;
  padding-top: 48px;

	.form-control {
	    // background-color: $extra-color;
	    border-radius: 2px;
	    border: 0px;
	    border: 1px solid $black_light;
	    padding: 10px;
	    box-shadow: 0px;
	    color: $black!important;
	    font-size: 18px;
	}

  .form-control:focus {
    border: 1px solid $primary-color;
  }

  ::placeholder {
    color: $black-light;
    font-weight: 300;
  }

	.form-control:focus{
		box-shadow: none;
	}

  .empty-field {
    border: 2px solid $secondary-color;
}
}



// Contact page
//


.contact-info{
	position: relative;

	i{
		position: absolute;
		content:"";
    left: 0px;
		top: 3px;
		font-size:28px;
    color: $primary-color;
	}

	.info{
		margin-left: 50px;

    h5 {
      color: $primary-color;
      font-size: 26px;

      @include mobile {
        font-size: 20px;
      }
    }
	}
}



// curriculum vitae

.banner-cv {
  // height: 550px;
  // border-top: 10px solid $extra-color;
  // border-right: 10px solid $extra-color;
  padding-bottom: 20px;
  margin: 20px 0 20px 0;
  // &:before {
  //   position: absolute;
  //   content: url("../images/pattern-bg.png");
  //   display: inline-block;
  //   height: 40px;
  //   width: 40px;
  //   left: -20px;
  // }

  @include mobile {
    border: none;
    max-width: 280px;
  }

  img {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 350px;
    height: auto;
    @include mobile {
      max-width: 270px;
    }
  }
}


.overlay-resume {
  width: 679px; /* Largeur du conteneur */
  height: 800px; /* Hauteur fixe pour contrôler le cadre */
  background: url("../images/cv-guillaume.jpg");
  background-size: contain; /* S'assure que l'image entière soit visible */
  background-position: center; /* Centre l'image dans le cadre */
  background-repeat: no-repeat; /* Pas de répétition */
  // transition: background-image 0.5s ease-in-out; /* Transition fluide pour le survol */
  @include mobile {
    max-height: 50vh;
  }
}

.overlay-resume:hover {
  background: url("../images/cv-guillaume-hover.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay-resume a {
  display: block; /* Le lien couvre toute la div */
  width: 100%;
  height: 100%;
  @include mobile {
    max-height: 50vh;
  }
}


embed {
  background-color: $extra-color;
  height: 100vh;
}
// .overlay-cv {
//   padding-left: 10px;
// }

// .overlay-cv img {
//   margin-top: 0;
//   --color: #00c8f2;
//   --border: 10px;
//   --offset: 15px;
//   --gap: 1px;

//   --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),var(--color) 0;
//   --_o: calc(3*var(--offset));
//   padding:
//     calc(var(--gap) + var(--border))
//     calc(var(--gap) + var(--border) + var(--offset))
//     calc(var(--gap) + var(--border) + var(--offset))
//     calc(var(--gap) + var(--border));
//   background:
//     linear-gradient(      var(--_c)) var(--_o) var(--_o),
//     linear-gradient(90deg,var(--_c)) var(--_o) var(--_o);
//   background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
//   // background-position: calc(100% - var(--offset)) calc(0% + var(--offset));
//   background-repeat: no-repeat;
//   filter: grayscale(.5);
//   transition: .5s;
//   cursor: pointer;
// }
// .overlay-cv img:hover {
//   background-position: 0px 0px;
//   background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
//   filter: grayscale(0);
// }

// dl link

// .hover-dl {
//   span {
//     font-size: 20px;
//     color: $primary-color;
//   }
// }
// .hover-dl i.fa-solid.fa-circle-down {
//   font-size: 20px;
//   color: $primary-color;
//   text-decoration: none;
//   padding-right: 6px;
// }

// .hover-dl:hover i.fa-solid.fa-circle-down,
// .hover-dl:hover span {
//   animation: bouncy 0.75s ease-out infinite;
//   color: $secondary-color;
//   filter: grayscale(0);

//   @keyframes bouncy {
//     0%   { transform:     translateY(0); }
//     10%  { transform:  translateY(0); }
//     30%  { transform:  translateY(-10px); }
//     50%  { transform:    translateY(0); }
//     100% { transform:     translateY(0); }
//   }
// }
