.footer-widget{

	color: rgba(255,255,255,.7);
	.lh-38{
		line-height: 38px;
	}
	ul {
		li{
			// padding: 6px 0px;
			color: rgba(255,255,255,.7);
			a{
				color: rgba(255,255,255,.7);
				text-transform: capitalize;
			}
		}
	}

  p {
    color: $primary-color;
  }

}

.footer-btm{
	.border-top{
		border-top: 1px solid #30303036!important;
	}

	span,p{
		color: $black-light;
    font-weight: 300;
	}
	a{
		color: $black;
	}

  .img-fluid {
    height: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.dot{
	width: 7px;
	height: 7px;
	border-radius: 100%;
	background: $primary-color;
	display: inline-block;
}

.under-footer {
  background-color: #c9f1f9b0;
  height: 60px;
  p {
    margin-bottom: 0;
  }
  a{


    &:hover {
    color: $primary-color
    }
	}
}


///
///

.footer-2{
	background: url("../images/bg/bg-home.jpg")no-repeat;
	background-size: cover;
	color: rgba(255,255,255,.7);

	a{
		color: rgba(255,255,255,.7);
	}
}
