// Banner index 2 (pas besoin)

.banner {
  background: url("../images/banner/banner.jpg") center center no-repeat;
  background-size: cover;
  overflow: hidden;

  .banner-content {
    padding: 250px 0px 220px 0px;

    h2 {
      font-size: 100px;
      line-height: 100px;
    }

    p {
      font-size: 17px;
    }
  }

  .banner-img {
    position: absolute;
    content: "";
    bottom: 0px;
    right: 17%;
    @media(max-width:1400px){
      right: 10%;
    }

    @include desktop-lg {
      right: -10%;
    }
  }
}

// Banner index Style

.banner-2 {
  overflow: hidden;
  padding-top: 50px;
  height: 100%;


  .banner-content-2 {
    // padding: 180px 0px 120px 0px;
    @include desktop-lg {
      padding: 150px 0 100px 0;
    }

    h2 {
      font-size: 54px;
      line-height: 70px;
      color: $primary-color;
      @include desktop-lg {
        font-size: 50px;
        line-height: 60px;
      }
    }
  }

  .banner-content-3 {

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include desktop-lg {
      padding: 150px 0 100px 0;
        }

    h2 {
      font-size: 60px;
      line-height: 70px;
      @include desktop-lg {
        font-size: 50px;
        line-height: 60px;
      }
    }
  }

  p {
    color: rgba(255, 255, 255, .7);
    padding-right: 55px;
    font-size: 17px;
  }

  .btn:hover {
    background: $white;
    color: $black !important;
  }
}

.banner-2 .portrait-img{
  opacity: 0;
  animation: fade-banner 3s ease-in-out forwards;
  animation-delay: 2000ms;
}

@keyframes fade-banner {
  0% { opacity: 0; }
  70% { opacity: 0; }
  100% { opacity: 1; }
}

.banner-2 .banner-img {
  height: 80vh;
  animation: shadowpic 6s ease-in-out infinite;
  // animation-delay: 5s;
  // animation-timing-function: ease-in-out;
  filter: drop-shadow(10px 10px 15px #00000088);
}

@keyframes shadowpic {
  0% { filter: drop-shadow(0px 0px #00caf200) drop-shadow(0px 0px #ff5f6c00); }
  96% { filter: drop-shadow(2px 1px #00caf200) drop-shadow(-2px -3px #ff5f6c00); }
  97% { filter: drop-shadow(-5px -6px #00c8f2) drop-shadow(5px 4px #ff5f6d); }
  98% { filter: drop-shadow(5px -4px #00c8f2) drop-shadow(-8px 4px #ff5f6d); }
  99% { filter: drop-shadow(-8px -4px #00c8f2) drop-shadow(-5px -4px #ff5f6d); }
  100% { filter: drop-shadow(-5px 0 #00c8f2) drop-shadow(5px -4px #ff5f6d); }

}

@include mobile-xs {
  .banner .banner-content h2 {
    font-size: 66px;
    line-height: 86px;
  }

  .banner-2 .portrait-img {
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@include mobile {
  .banner .banner-content h2 {
    font-size: 66px;
    line-height: 86px;
  }

  .banner-2 .portrait-img {
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@include tablet {
  .banner .banner-content h2 {
    font-size: 66px;
    line-height: 86px;
  }

  .banner-2 .portrait-img {
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

}

@include desktop {
  .banner .banner-content h2 {
    font-size: 85px;
    line-height: 100px;
  }

  .about-banner {
    background-position: 40% 50%;
  }


}

@include desktop-lg {
  .banner .banner-content h2 {
    font-size: 85px;
    line-height: 100px;
  }

  .about-banner {
    background-position: 40% 50%;
  }


}
