<!-- Experience Start -->
<div class="service-2">
  <div class="row justify-content-sm-center m-3">
    <div class="col-sm-auto experiences scroll-trigger" style="margin: 30px 30px 30px 30px" id="animscroll2">
      <h2>Expériences</h2>
      <div class="exp-column col justify-content-start pt-4">
        {% for experience in site.data.homepage_1.experiences %}

          <div class="service-item mb-4 text-center px-2">
            <h3 class="pr-3">{{ experience.title }}</h3>
            <p>{{ experience.content }}</p>
            <p style="font-style: italic;">{{ experience.date }}</p>
          </div>

        {% endfor %}
      </div>
    </div>

    <div class="col-sm-auto educations scroll-trigger" style="margin: 30px 30px 30px 30px" id="animscroll3">
      <h2>Enseignements</h2>
      <div class="educ-column col justify-content-start pt-4">
        {% for education in site.data.homepage_1.educations %}
          <div class="service-item mb-4  text-center px-2">
            <h3 class="pr-3">{{ education.title }}</h3>
            <p>{{ education.content }}</p>
            <p style="font-style: italic;">{{ education.date }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- Experience End -->
