<!-- Footer section start -->
<footer class="bg-footer position-relative pb-0">
	<div class="footer-btm ">
		<div class="container border-top py-4 mt-5">
			<div class="row align-items-center justify-content-md-between">
				<div class="col-12 col-lg-4">
					<div class="text-center text-lg-left "> <span>{{ site.copyright }}</span></div>
				</div>
				<div class="col-lg-4 text-center col-12">
					<a href="/Portfolio/index.html">
						<img src="{{site.logo | relative_url}}" alt="{{site.title}}" class="img-fluid">
					</a>
				</div>
				<div class="col-lg-4 col-12">
					<div class="text-center text-lg-right">
            <ul class="list-inline socials-links-footer">
              {% for social in site.social %}
              <li class="list-inline-item">
                <a target="_blank" href="{{social.link}}" class="active" title="{{social.title}}"><i class="{{social.icon}}"></i></a>
              </li>
              {% endfor %}
            </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer End -->

<script src="{{site.google_map_api}}"></script>

<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
