<nav class="navbar navbar-expand-lg fixed-top main-nav flex-column p-0" id="main-nav">
	<div class="container nav-box">
		<a class="navbar-brand" href="{{site.baseurl}}/">
			<img src="{{site.logo | relative_url}}" alt="{{site.title}}" class="img-fluid">
		</a>
		<button class="navbar-toggler collapsed pr-4 hamburger-menu" type="button" data-toggle="collapse" data-target="#navigation"
			aria-controls="navigation" aria-expanded="true" aria-label="Toggle navigation">
			<span class="fa fa-bars" style="color: #00c8f2 "></span>
		</button>
		<div class="collapse navbar-collapse" id="navigation">
			{% include navigation.html %}
		</div>
	</div>
</nav>
