<!-- Slider Start -->
{% assign banner = site.data.homepage_1.hero_area %}
<section class="banner-2 position-relative bg-blue">
	<img src="{{ banner.background_image | relative_url }}" alt="" class="overlay-shape">
	<div class="container d-flex h-100" >
		<div class="row align-items-center">

			<div class="col-lg-8 col-md-7">
				<div class="infos-index d-flex flex-column">
          <div class="banner-content-2">
            <span class="code-title">{{banner.subtitle}}</span>
            <h2 class="mt-2">{{ banner.title | strip_html}}</h2>
            <h3 class="text-white mt-2 mb-4">{{ banner.content }}</h3>
            {% if banner.button.enable %}
            <a href="{{ banner.button.link | relative_url }}" class="btn btn-primary">{{ banner.button.label }}</a>
            {% endif %}
          </div>
        </div>
			</div>

			<div class="col-lg-4 col-md-5 align-self-end">
				<img src="{{ banner.image | relative_url }}" alt="Guillaume Teillais" class="portrait-img">
			</div>

      <div class="banner-content-3 justify-content-center">
        <div class='icon-scroll'></div>
      </div>

		</div>
	</div>
</section>
<!-- Slider End -->
