<!-- Skills Start -->
{% assign count = site.data.homepage_1.skills %}
{% if count.enable %}
<section class="section-sm counter-section position-relative">
	<!-- <img src="{{count.bg_image | relative_url }}" alt="" class="overlay-shape"> -->
	<div class="container">
		<div class="row fade-in px-2 animscroll">
			{% for item in count.item %}
			<div class="col-lg-3 col-md-6">
				<div class="counter-content d-flex flex-column align-items-center mb-5">
					<i class="{{item.icon}} mb-2"></i>
					<div>
						<p class="mb-0"><span class="counter">{{item.name}}</span></p>
						<!-- <p class="text-capitalize mb-0">{{item.description}}</p> -->
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- Skills End -->
{% endif %}
