.btn {
  padding: 12px 35px;
    font-size: 20px;
  display: inline-block;
  font-weight: 500;
  text-transform: capitalize;
  transition: all .3s ease;
  border: 0px solid;
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:focus {
    outline: 0px;
    box-shadow: none !important;
  }

  &:active {
    box-shadow: none;
  }
}

.btn-primary {
  background: $primary-gradient;
  color: $white;
  border-color: $primary-color;

  &:hover,
  &:active,
  &.focus,
  &.active {
    // background: $secondary-gradient !important;
    // border-color: $secondary-color !important;
    color: $white !important;
    // transition: ease-in-out 1s;
  }
}

.btn-secondary {
  background: $secondary-color;
  border-color: $secondary-color;
  color: $white;

  &:hover,
  &:active,
  &.focus,
  &.active {
    background: $primary-color !important;
    border-color: $primary-color !important;
    color: $white !important;
  }
}

.btn-outline-primary {
  border-color: $primary-color;
  color: $primary-color;

  &:hover,
  &:active,
  &.focus,
  &.active {
    background: $primary-color !important;
    color: $white !important;
    border-color: $primary-color !important;
  }
}

.btn-solid-border {
  border: 2px solid $border-color;
  color: $black;

  &:hover,
  &:active,
  &.focus,
  &.active {
    background: $primary-color;
    color: $white !important;
    border-color: $primary-color;
  }
}

// animation hover

.bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  }
.bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    background: $secondary-gradient;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.bounce-to-right:hover, .bounce-to-right:focus, .bounce-to-right:active {
  color: white;
}
.bounce-to-right:hover:before, .bounce-to-right:focus:before, .bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
