// Color Variables
$white: #fff;
$black: #303030;
$primary-gradient: linear-gradient(160deg, rgba(19,153,228,1) 0%, rgba(51,210,215,1) 45%);
$secondary-gradient: linear-gradient(160deg, rgba(255,205,13,1) 0%, rgba(255,95,109,1) 45%);
$primary-color:#00c8f2;
$secondary-color:#ff5f6d;
$navbar-color: #000000de;
$extra-color:#c9f1f9b0;
$border-color: #e5e5e5;
$black-light:#848485;
$fluo: #bef200;
$yello:#ffc429;
$blue: #041119;
$heading-font:'Josefin Sans', sans-serif;
$body-font:'Josefin Sans', sans-serif;
